<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.min.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <title>Document</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
      #records-indicator {
        /* opacity:0; */
        display: none !important;
      }
      .htmx-request #records-indicator {
        /* opacity:1; */
        display: flex !important;
        transition: opacity 200ms ease-in;
      }
      .htmx-request#records-indicator {
        /* opacity:1; */
        display: flex !important;
        /* transition: opacity 200ms ease-in; */
      }
    </style>
</head>
<body>
  <div class="page">
    {% include '_sidebar.html' %}

    <div class="page-wrapper">
      {% block body %}
      {% endblock %}
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/js/tabler.min.js"></script>
</body>
</html>