{% extends 'base.html' %}

{% block body %}
  {% include 'index/_page_header.html' %}
  
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck-row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ model_name }}</h3>
            </div>
            {% include 'index/_table_subheader.html' %}
            <!-- <div id="tableRecords" hx-get="/x/records/{{ model_name }}?offset=0&limit=8" hx-trigger="load"> -->
            <div class="position-relative">
              <div id="table-records" style="min-height: 90px;">
              </div>
              <div id="records-indicator" class="position-absolute top-0 h-100 w-100 z-3 d-flex justify-content-center align-items-center" style="background-color: rgba(255, 255, 255, 0.5);">
                <div class="position-relative spinner-border">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}