{% extends 'base.html' %}

{% block body %}
  {% include 'index/_page_header.html' %}
  
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck-row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ model_name }}</h3>
            </div>
            {% include 'index/_table_subheader.html' %}
            {% include 'index/_table_records.html' %}
            {% include 'index/_table_footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}